<form #form='ngForm'>
  <div class="form-group">
    <label for="firstName"> First Name </label>
    <input class="form-control"
           type="text"
           id="firstName"
           name="firstName"
           required
           minlength="5"
           #firstName="ngModel"
           ngModel>
    <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
      <div *ngIf="firstName.errors.required">The field is required</div>
    </div>

  </div>

  <div class="form-group">
    <label for="lastName"> Last Name </label>
    <input class="form-control"
           type="text"
           id="lastName"
           name="lastName"
           required
           #lastName="ngModel"
           ngModel>
    <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
      <div *ngIf="lastName.errors.required">The field is required</div>
    </div>

  </div>
  <div class="form-group">
    <label for="mobileNumber"> Mobile Number </label>
    <input class="form-control"
           type="text"
           id="mobileNumber"
           name="mobileNumber"
           required
           pattern="[+]4[0,9]{1}[0-9]{9}"
           #mobileNumber="ngModel"
           ngModel>
    <div class="alert alert-danger" *ngIf="mobileNumber.touched && mobileNumber.invalid">
      <div *ngIf="mobileNumber.errors.pattern">The pattern is invalid.</div>
      <div *ngIf="mobileNumber.errors.required">The field is required</div>
    </div>

  </div>
  <div class="form-group">
    <label for="email"> Email </label>
    <input class="form-control"
           type="text"
           id="email"
           name="email"
           required
           pattern="[a-zA-Z0-9.-_]{1,}@msggroup.com"
           #email="ngModel"
           ngModel>
    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
      <div *ngIf="email.errors.pattern">The pattern is invalid.</div>
      <div *ngIf="email.errors.required">The field is required</div>
    </div>

  </div>

  <div class="form-group">
    <label for="roles">Roles:</label>
    <div *ngFor="let role of roles">
      <label>
        <input type="checkbox"
               name="roles"
               id="roles"
               required
               value="{{role.name}}"
               [(ngModel)]="role.checked"/>
        {{role.name}}
      </label>
    </div>
  </div>

  <button type="submit" (click)="addUser(form)" [disabled]="form.invalid" class="btn btn-primary">Add</button>
  <button type="button" (click)="back()" class="btn btn-primary">Back</button>
</form>
