<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <style>
    /* Made with love by Mutiullah Samim*/

    @import url('https://fonts.googleapis.com/css?family=Numans');

    html,body{
      background-image: url('http://getwallpapers.com/wallpaper/full/d/3/7/32071.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      font-family: 'Numans', sans-serif;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <ag-grid-angular
        #myGrid
        id="myGrid"
        style="width:300px;height: auto"
        class="ag-theme-balham-dark shadow p-3 mb-5 bg-dark rounded"
        [rowData]="roleList"
        [columnDefs]="columnDefs"
        [rowSelection]="false"
        [animateRows]="true"
        rowHeight="33"
        domLayout="print"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
</body>



