<button routerLink="user-add">Add a new user</button>
<br>
<h1>Users</h1>
<br>
<div class="test-header">Selection: <span id="selectedRow"></span></div>
<br>
<ag-grid-angular
  id="myGrid"
  style="width: 800px; height: 480px"
  class="ag-theme-balham-dark shadow p-3 mb-5 bg-dark rounded"
  [rowData]="userList"
  [columnDefs]="columnDefs"
  [rowSelection]="false"
  [animateRows]="true"
  (selectionChanged)="onSelectionChanged()"
  (gridReady)="onGridReady($event)"
  rowHeight="33"
>
</ag-grid-angular>

<router-outlet></router-outlet>
