<h3>bugs</h3>
<button mat-raised-button name="createButton" (click)="openCreateDialog()">
  <i class="material-icons">add</i>
    Create
</button>
<div class="test-header"><span id="selectedRow"></span></div>
<ag-grid-angular
  id="myGrid"
  style="width: 1090px; height: 930px;"
  class="ag-theme-balham-dark shadow p-3 mb-5 bg-dark rounded"
  [rowData]="bugList"
  [columnDefs]="columnDefs"
  [rowSelection]="false"
  rowHeight="33"
  (selectionChanged)="onSelectionChanged()"
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
  domLayout="print"
>
</ag-grid-angular>





