<h3>bugs</h3>
<button (click)="openCreateDialog()">Add a new bug</button>
<!--<div>-->
<!--  <li *ngFor="let bug of bugList"> {{bug.title}},{{bug.description}},{{bug.severity}}-->

<!--</div>-->

<div class="test-header"><span id="selectedRow"></span></div>
<ag-grid-angular
  id="myGrid"
  style="width: 1090px; height: 930px;"
  class="ag-theme-balham-dark shadow p-3 mb-5 bg-dark rounded"
  [rowData]="bugList"
  [columnDefs]="columnDefs"
  [rowSelection]="false"
  rowHeight="33"
  (selectionChanged)="onSelectionChanged()"
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
  domLayout="print"
>
</ag-grid-angular>

<!--todo disable button if drept != BUG_CLOSE-->

<div>
  <button mat-raised-button (click)="openDialog()">Modify status</button>
</div>




