<h3>bugs</h3>
<!--<div>-->
<!--  <li *ngFor="let bug of bugList"> {{bug.title}},{{bug.description}},{{bug.severity}}-->

<!--</div>-->
<ag-grid-angular
  id="myGrid"

  class="ag-theme-balham-dark"
  [rowData]="bugList"
  [columnDefs]="columnDefs"
  [rowSelection]="rowSelection"
  (selectionChanged)="onSelectionChanged()"
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
  domLayout="print"
>
</ag-grid-angular>

<!--todo disable button if drept != BUG_CLOSE-->

<div>
  <button>Add bug</button>
  <button>Update bug</button>
  <button mat-raised-button (click)="openDialog()">Close bug</button>
</div>


