
<mat-dialog-content>
    <h2>{{data.firstName}} {{data.lastName}}</h2>
    <mat-label>
      <i class="material-icons">tag_faces</i> {{data.username}}
    </mat-label><br>
    <mat-label>
      <i class="material-icons">mail</i> {{data.email}}
    </mat-label><br>
    <mat-label>
      <i class="material-icons">phone</i> {{data.mobileNumber}}
    </mat-label>
  <br>
    <mat-list *ngIf="hasTasks">
      <mat-label>Active tasks:</mat-label>
      <mat-list-item *ngFor="let task of user.tasks">
        <i class="material-icons">folder</i> {{task}}
      </mat-list-item>
    </mat-list>
    <br>
    <mat-label *ngIf="!hasTasks" class="alert alert-info">No tasks assigned!</mat-label>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button [hidden]="!activateButton" (click)="activate()"><i class="material-icons">check</i>Activate</button>
    <button mat-raised-button [hidden]="!deactivateButton" (click)="deactivate()"><i class="material-icons">block</i>Deactivate</button>
    <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>


